@using Attention.BLL.Models
@model BingModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <img src="@Model.ImageUrl_1920x1080" class="img-fluid" alt="Responsive image"/>
</div>
