@{
    ViewData["Title"] = "About";
    ViewData["Author"] = "hippieZhou";
    ViewData["Career"] = "Developer";
}

<div class="container">
    <section class="my-5">
        <h2 class="h1-responsive font-weight-bold text-center my-5">@ViewData["Author"]</h2>
        <p class="text-center w-responsive mx-auto mb-5">I am a .Net developer who has done UWP, WPF, and Python. Currently engaged in WPF-related development work, but also on the. Netcore has been constantly watching and learning.That's all. Tks.:)</p>
        <div class="row">
            <div class="col-lg-5">
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                    <img class="img-fluid" src="~/img/01.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <a class="green-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-code pr-2"></i>Dev</h6></a>
                <h3 class="font-weight-bold mb-3"><strong>Code My Life</strong></h3>
                <p>Talk is Cheap,Just Show Code.</p>
                <section class="section-preview">
                    C# (UWP、WPF、AspNetCore)
                    <div class="progress md-progress mb-2" style="height:8px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    Python (Django、Flask)
                    <div class="progress md-progress mb-2" style="height:8px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    Web (MiniProgram、Bootstrap)
                    <div class="progress md-progress mb-2" style="height:8px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </section>
                <p>Tools: <a><strong>VisualStudio</strong></a>、<a><strong>Visual Sudio Code</strong></a>、<a><strong>Git</strong></a>、<a><strong>SVN</strong></a>、<a><strong>Azure DevOps</strong></a></p>
            </div>
        </div>

        <hr class="my-5">

        <div class="row">
            <div class="col-lg-7">
                <a class="pink-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-image pr-2"></i>Lifestyle</h6></a>
                <h3 class="font-weight-bold mb-3"><strong>Enjoy My Life</strong></h3>
                <p>In my free time, I like listening to <a><strong>music</strong></a>  and <a><strong>sports</strong></a>. Like to do things that you like.</p>
            </div>
            <div class="col-lg-5">
                <div class="view overlay rounded z-depth-2">
                    <img class="img-fluid" src="~/img/02.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row">
            <div class="col-lg-5">
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                    <img class="img-fluid" src="~/img/03.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <a class="indigo-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-suitcase pr-2"></i>Travels</h6></a>
                <h3 class="font-weight-bold mb-3"><strong>Enrich My Life</strong></h3>
                <p>
                    <a class="red-text"><i class="fa fa-map-marker pr-2" aria-hidden="true"></i>Beijing</a>
                </p>
                <p>
                    <a class="blue-text"><i class="fa fa-map-marker pr-2" aria-hidden="true"></i>Shanghai</a>
                </p>
                <p>
                    <a class="green-text"><i class="fa fa-map-marker pr-2" aria-hidden="true"></i>Hangzhou</a>
                </p>
                <p>
                    <a class="yellow-text"><i class="fa fa-map-marker pr-2" aria-hidden="true"></i>Wuhan</a>
                </p>
            </div>
        </div>
    </section>
</div>