@{
    ViewData["Title"] = "About";
    ViewData["Author"] = "hippieZhou";
    ViewData["Career"] = "Developer";
}

<div class="row pt-4" style="height: 82vh">
    <div class="col-lg-4 col-md-12"></div>
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <div class="card card-cascade narrower">
                <div class="view view-cascade overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>@ViewData["Author"]</strong></h4>
                    <h5>@ViewData["Career"]</h5>

                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                    </p>
                    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
    <div class="col-lg-4 col-md-12"></div>
</div>

