@{
    ViewData["Title"] = "Home Page";
}

@*<div style="height: 82vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">@ViewData["Title"]</h1>
            <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
            <p class="animated fadeIn text-muted">MDB Team</p>
        </div>
    </div>*@

<div class="view full-page-intro" style="height: 78vh;background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4 white-text text-center text-md-left">
                    <h1 class="display-4 font-weight-bold">Learn Bootstrap 4 with MDB</h1>
                    <hr class="hr-light">
                    <p>
                        <strong>Best & free guide of responsive web design</strong>
                    </p>

                    <p class="mb-4 d-none d-md-block">
                        <strong>
                            The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                            available. Create your own, stunning website.
                        </strong>
                    </p>

                    <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-indigo btn-lg">
                        Start free tutorial
                        <i class="fa fa-graduation-cap ml-2"></i>
                    </a>

                </div>

                <div class="col-md-6 col-xl-5 mb-4">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade overlay">
                            <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>@ViewData["Author"]</strong></h4>
                            <h5>@ViewData["Career"]</h5>

                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                            </p>
                            <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                            <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                            <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
