@{
    ViewData["Title"] = "Home Page";
}

@*<div style="height: 82vh;background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">@ViewData["Title"]</h1>
            <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
            <p class="animated fadeIn text-muted">MDB Team</p>
        </div>
    </div>*@

<div style="height: 82vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4">@ViewData["Title"]</h1>
        <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
        <p class="animated fadeIn text-muted">MDB Team</p>
    </div>
</div>